$color-white: #fff;
$color-gray: #e6eeff;
$color-darkgray: #9fbfdf;
$color-black: #000;
$color-orange: #ffa500;
$font-common: helvetica, sans-serif;
$font-title: gabriola;
$font-small: 16px;
$font-medium: 28px;
$font-big: 30px;
$zindex-header__title: 100;


